#searchView.view.view-search.tab(data-page='search')
  include ../includes/navbar.jade
  include ../includes/searchResult.jade

  .pages.navbar-through
    .page(data-page='search')
      .page-content     
        
        .searchbar-wrapper
          form#formSearch.searchbar.safira-fixed
           // Search bar
           .searchbar-input
            -if(keyword)
              input.i18n(type='search', data-i18n='[placeholder]global.search', value="#{keyword}")
            -else
              input.i18n(type='search', data-i18n='[placeholder]global.search')
            a.searchbar-clear(href='#') clear
            a.searchbar-cancel.i18n(href='#', data-i18n='global.cancel') cancel
             
           // Search bar overlay
           .searchbar-overlay
          
          .row.categories.safira-fixed
            a.button.button-round(href='#nike', data-keyword='nike') Nike
            a.button.button-round(href='#iphone', data-keyword='iphone') IPhone
            a.button.button-round(href='#test', data-keyword='外套') 外套
            a.button.button-round(href='#test', data-keyword='全新') 全新
      
        .searchResult-wrapper
          .card
            .card-content
              .list-block.media-list
                .list-group
                  ul#search-result
                  
                    -if(items)
                      each item in items
                        li.swipeout(data-id=item.id)
                          .swipeout-content
                            .item-content.prodList
                              .item-media
                                //- img(src=item.gallery[0], width='80')
                                .img-square.lazy(data-background= item.gallery[0])
                                //img.lazy.lazy-fadeIn(data-src=, width='80', style="overflow: hidden;")
                                //- img.lazy.lazy-fadeIn(data-src='http://lorempixel.com/80/60/technics/#{item.id % 9}', width='80')
                              .item-inner
                                .item-title-row
                                  .item-title
                                    //- a.link(href='/item/#{item.id}') #{item.title}
                                    a.item.link(href='#', data-id='#{item.id}') #{item.title}
                                //- .item-subtitle NT$#{item.price}
                          .swipeout-actions-right
                            a.bg-blue.like.notif-message(href='#', data-id='#{item.id}', data-img=item.gallery[0]) 
                              img(src='/img/addlike.png', alt='addlike', style="height: 30px;")
                 
