

-if(favorites && favorites.length > 0)
  .card
    .card-header You like !!
    .card-content 
    .list-block.media-list
      ul#fav-result
        each favorite in favorites
          li.swipeout(data-id=favorite.id)
              .swipeout-content
                .item-content
                  .item-media
                    //- img(src=post.gallery[0], width='80')
                    img.lazy.lazy-fadeIn(data-src=favorite.images, width='80')
                  .item-inner
                    .item-title-row
                      .item-title 
                        a.link(data-ignore-cache="true", href='/post/f7/#{favorite.id}') #{favorite.title}
                    .item-subtitle #{favorite.Item.itemname}
              .swipeout-actions-right
                a.bg-pink.deletelike.notif-message.swipeout-delete(href='#', data-id='#{favorite.id}', data-img=favorite.images)
                  img(src='/img/deletelike.png', alt='deletelike', style="height: 30px;")
-else  
  -if(loginState)
   .card
     .card-content 
       .list-block.media-list
         ul
           li.item-content
             .item-media
               img(src='/img/blockHeart.png', width='80')
             .item-inner
               .item-title-row.text-alert
                 .item-title Opps..
               .item-subtitle You have no favorite item yet
.card
  .card-header You may like...
  .card-content 
    .list-block.media-list
      ul
        //- each post in allPosts
        each val in [1, 2, 3]
          - var random = Math.floor(Math.random() * 10)
          li.swipeout(data-id=allPosts[random].id)
              .swipeout-content
                .item-content
                  .item-media
                    //- img(src=post.gallery[0], width='80')
                    img(src=allPosts[random].gallery[0], width='80')
                  .item-inner
                    .item-title-row
                      .item-title  
                        a.link(href='/post/f7/#{allPosts[random].id}') #{allPosts[random].title}
                    .item-subtitle NT$#{allPosts[random].price}
              .swipeout-actions-right
                a.bg-blue.like.notif-message(href='#', data-id='#{allPosts[random].id}', data-img=allPosts[random].gallery[0])
                  img(src='/img/addlike.png', alt='addlike', style="height: 30px;")
