
.list-block.cards-list
  ul
   li.card
     .card-header.post-img
      div
        img(src=post.gallery, data-hash='1', alt='' width='100%')    
     .card-content
      .card-content-inner
        span.post-title.bold #{post.title}  
        span.post-price.bold $#{post.price}
        span
          .detailFavbox
            .favbox
              a.favboxa(data-id="#{post.id}")
                |                            
                -if(isFav==true)
                  i.fa.fa-lg.fa-heart(style="color:#ff5757")
                -else
                  i.fa.fa-lg.fa-heart() 
        span.post-itemname.bold #{post.itemname}
      .list-block
        ul
          li
            a.item-link.item-content(href='#')
              img(src='/img/phone.png', alt='phone', style="height: auto;")
              .item-media.title-items
                i.icon.icon-f7
              .item-inner
                .item-title.bold #{post.content||'no description now.'}
          -if(post.email)
            li
              a.item-link.item-content(href='#')
                img(src='/img/mail.png', alt='mail', style="height: auto;")
                .item-media.email-user
                  i.icon.icon-f7
                .item-inner
                  .item-title.bold #{post.email}
     .card-footer Card footer
  #fb-root
  .fb-comments(data-href="http://localhost:1337/postDetail/#{post.id}" data-width="400" data-numposts="5")       
  script.
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5&appId=915539495181624";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
